.navbarContainer{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
    background: white;
    color: black;
    border-bottom: 1px solid grey;
}
.btn{
    padding: 0.4rem 0.5rem;
    background: #525454;
    border: none;
    font-weight: bold;
    border-radius: 0.3rem;
}